<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vibber{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'music/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'music/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'music/playerfiles/initaudioplayer-1.css' %}">
<link rel="stylesheet" href="{% static 'music/css/styless.css' %}">
<link id="plan-theme" href="https://thevideo.me/css/thevideo/bootstrap.belizehole.min.css?v=0.0602001" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
    <script src="{% static 'music/js/bootstrap.js' %}"></script>
<link rel="stylesheet" href="{% static 'music/hovereffect.css' %}">
<link id="plan-theme" href="{% static 'music/css/bootstrap.belizehole.min.css' %}" rel="stylesheet">

     <script src="{% static 'music/playerfiles/jquery.js' %}"></script>
    <script src="{% static 'music/playerfiles/amazingaudioplayer.js' %}"></script>
     <script src="{% static 'music/playerfiles/initaudioplayer-1.js' %}"></script>
    <script src="{% static 'music/js/main.js' %}"></script>
<script src="{% static 'music/js/ui-js.js' %}"></script>
{% block style %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar brand" href="{% url 'music:index' %}"><img src="{% static 'music/icons/brand.png' %}"></a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block albums_active %}{% endblock %}"><a href="{% url 'music:index' %}"><span class="glyphicon glyphicon-cd"  style="font-size: 20px"aria-hidden="true"></span>&nbsp;Albums </a></li>
                <li class="{% block songs_active %}{% endblock %}"><a href="{% url 'music:songs' 'all' %}"><span class="glyphicon glyphicon-music" style="font-size: 20px" aria-hidden="true"></span>&nbsp;Songs</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'music:index' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <a href="{% url 'music:playlist' 'playlist'%}">
                        <span class="glyphicon glyphicon-play-circle " style="font-size: 20px" aria-hidden="true"></span>&nbsp; Vibber Stream
                    </a>
                </li>

                <li  role="presentation" {% if playlist == 'playlists' %}class="active"{% endif %}>
                    <a href="{% url 'music:playlist' 'playlist'%}">
                        <span class="glyphicon glyphicon-headphones " style="font-size: 20px" aria-hidden="true"></span>&nbsp; {{ user.username }}'s Playlist
                    </a>
                </li>

                <li>
                    <a href="{% url 'music:create_album' %}">
                        <span class="glyphicon glyphicon-plus " style="font-size: 20px" aria-hidden="true"></span>&nbsp; Add Album
                    </a>
                </li>
                <li>
                    <a href="{% url 'music:logout_user' %}">
                        <span class="glyphicon glyphicon-off"  style="font-size: 20px"aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
{% block body %}


{% endblock %}



