{% extends 'music/base.html' %}
{% block albums_active %}active{% endblock %}
{% load staticfiles %}
{% block body %}
<div class="albums-container container-fluid">
    <div class="row">
    <!--cousel-->
    <div class="col-sm-12">
      <div class="panel" style="background: black;opacity: 0.9">
      <div class="panel-body">
          <div class="col-sm-4">
               <h1 style="color: whitesmoke">Featured Artist</h1>
              <a href="https://en.wikipedia.org/wiki/Calvin_Harris"><img src="{% static 'music/images/calvin.jpg' %}" style="width:400px"></a>
          </div>
          <div class="col-sm-4">
              <ul style="list-style: none">
                  <li >
                      <h1 style="color: #f5f2e2">Calvin Harris  <img src="{% static 'music/icons/cute_ball_favorites.png' %}" style="width: 30px"></h1>
                  </li>
                  <li>
                      <h4 style="color: whitesmoke">calvin Harris</h4>
                  </li>
                  <li>
                      <h4 style="color: whitesmoke">Damfries,Scotland</h4>
                  </li>
                  <li>
                      <h4 ><img src="{% static 'music/images/wallpaper-1865190.jpg' %}" style="width: 300px"></h4>
                  </li>
              </ul>
              </div>
              <div class="col-sm-4">
                 <ul style="list-style: none">
                  <a href="https://www.youtube.com/watch?v=EgqUJOudrcM">
                     <li >
                      <h3 style="color: whitesmoke;text-decoration:underline " >CALVIN </h3>
                  </li>
                  <li>
                      <h3 style="color: whitesmoke;text-decoration:underline "> HARRIS</h3>
                  </li>
                    <h3 style="color: whitesmoke">+</h3>
                  <li>
                      <h3 style="color: whitesmoke">DESCIPLES</h3>
                  </li>
                     </a>
                   <a href="https://itunes.apple.com/us/album/how-deep-is-your-love-single/id1001677304" > <li>
                      <h4 style="color: red">OUT NOW<img src="{% static 'music/images/apple-music-logo.png' %}" style="width: 200px"></h4>
                  </li> </a>
              </ul>
              </div>

      </div>
    </div>
    </div>
    <!--album info-->
    <div class="col-sm-12">
    <div class="panel" style="background: url('{% static 'music/images/tumblr_static_a7bfrhnd8e80os88sc80kc088.jpg' %}');opacity: 0.9">
      <div class="panel-body">
    {% if albums %}
            <h3 style="color: whitesmoke" >{{ user.username }}'s Albums</h3>
            {% for album in albums %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail" style="background: lightgrey">
                        <a href="{% url 'music:detail' album.id %}">
                            <img src="{{ album.album_art.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ album.album_title }}</h2>
                            <h4>{{ album.artist }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
                            <form action="{% url 'music:delete_album' album.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Favorite Album -->
                            <a href="{% url 'music:favorite_album' album.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                            </a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
            {% else %}
            <h1 style="color: white">No Albums click to add</h1>
            <div class="col-sm-12">
                <br>
                <a href="{% url 'music:create_album' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                    </button>
                </a>
            </div>

        {% endif %}
     </div>
      </div>
    </div>

    <!-- If user searches and there are songs -->
    {% if songs %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Songs</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Song Title</th>
                                    <th>Artist</th>
                                    <th>Audio File</th>
                                    <th>Album</th>
                                    <th>Favorite</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in songs %}
                                    <tr>
                                        <td>{{ song.song_title }}</td>
                                        <td>{{ song.album.artist }}</td>
                                        <td>
                                            <a target="_blank" href="{{ song.audio_file.url }}">
                                                <button type="button" class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'music:detail' song.album.id %}">
                                                <img src="{{ song.album.album_art.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'music:detail' song.album.id %}">{{ song.album.album_title }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
</div>

</div>
</div>
