#sidebar-wrapper{
    z-index: 1;
    width: 0%;
    overflow-y: hidden;
    background:gray;
    opacity: 0.9;
    height: 100%;
    position: absolute;
}
#main-body{
    padding: 15px;
    position: absolute;
    background: darkseagreen;
}
#wrapper.toggling #main-body{
    padding-left: 250px;
}
#wrapper.toggling #sidebar-wrapper{
    width: 250px;
    background: cadetblue;
    background-p
}
.sidebar-nav {
    padding: 0px;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;

}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}
.sidebar-nav li a:hover{
    background: #16a085;
}