{% extends "base.html" %}
{% load i18n %}

{% block body%}
<div class="container-fluid">
<div class="row">
    <div class="col-sm-offset-8 col-sm-4">
        <p class="my-image">
rekmsknknskn
        </p>
    </div>
</div>
</div>


  <form method="post" action="{%url 'music:index'%}" class="login">
 {%csrf_token%}
    <p>
      <label for="login">Email:</label>
      <input type="text" name="login" id="login" value="name@example.com">
  
	
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" value="4815162342">
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button">Login</button>
    </p>

    <p class="forgot-password"><a href="index.html">Forgot your password?</a></p>
  </form>

  <section class="about">
    <p class="about-links">
      <a href="http://www.cssflow.com/snippets/dark-login-form" target="_parent">View Article</a>
      <a href="http://www.cssflow.com/snippets/dark-login-form.zip" target="_parent">Download</a>
    </p>
    <p class="about-author">
      &copy; 2016&ndash;2017 <a href="http://thibaut.me" target="_blank">omosh red district</a> -
      <a href="http://www.cssflow.com/mit-license" target="_blank">Vibber License</a><br>
      Original PSD by <a href="http://365psd.com/day/2-234/" target="_blank">Henry Omondi</a>
  </section>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
{% endblock %}
